<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header></header>
    <main></main>
    <div id="app" class="wa">
        <!-- NavBar laterale -->
        <nav class="wa_nav"> 
            <div class="nav_head">
                <div class="user">
                    <img src="./img/avatar_1.jpg" alt="">
                    <span class="contact_name">Alessio</span>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="nav_main">
                <!-- Sezione notifiche -->
                <div class="notifications">
                    <div class="notifications_logo">
                        <i class="fa-solid fa-bell-slash fa-lg"></i>
                    </div>
                    <div class="notifications_text">
                        <span>
                            Ricevi notifiche di nuovi messaggi
                        </span>
                        <span>
                            Attiva notifiche desktop
                        </span>
                    </div>
                </div>
                <div class="search">
                    <div class="search_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="InputFilterChat" :input="filterChats">
                </div>  
                <!-- Lista chat -->
                <div class="chats">
                    <div v-if="contact.visible === true" class="chat" :class="currentChat === contact ? 'active' : ''" v-for="(contact) in contacts" @click="activeChat(contact)">
                        <div class="chat_logo">
                            <img :src="'./img/avatar' + contact.avatar + '.jpg'" alt=""> 
                        </div>
                        <div class="chat_text">
                            <span>{{contact.name}}</span>
                            <span>{{ getLastMessage(contact) }}</span>
                            <span class="chat_time">
                                {{  getLastMsgHour(contact) }}
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
        </nav>

        <!-- Main Content -->
        <div class="wa_main" v-if="currentChat !== ''">
            <div class="active_chat chat"> 
                    <div class="chat_logo">
                        <img :src="'./img/avatar' + currentChat.avatar + '.jpg'" alt=""> 
                    </div>
                    <div class="chat_text">
                        <span>{{currentChat.name}}</span>
                        <span>Ultimo accesso oggi alle 12:30</span>
                    </div>
                <div class="icons active_icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            
            <!-- Messages list -->
            <div class="messages">
                <div class="msg_margin" v-for="message_info in currentChat.messages" :class="message_info.status === 'sent' ? 'j-end' : 'j-start'">
                    <span :class="message_info.status === 'sent' ? 'msg_sent' : 'msg_received'" class="message">
                        {{message_info.message}}
                        <div class="message_time">
                            {{message_info.hour}}
                        </div>
                        <div class="message_actions">
                            <i class="fa-solid fa-angle-down" @click="selectClick(message_info, $event)"></i>
                            <div class="msg_actions d_none" >
                                <span @click="deleteMessage(message_info)">Delete Message</span>
                                <span @click="msg_info(message_info)">Message Info</span>

                            </div>
                        </div>
                    </span> 
                </div>
            </div>

            <!-- Send message -->
            <div class="send_message">
                <i class="fa-regular fa-face-smile fa-lg"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage(newMessage)">
                <i class="fa-solid fa-microphone fa-lg"></i>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>