*{
    margin: 0;padding: 0;box-sizing: border-box;
}



.wa{
    width: 1000px;
    height: calc(100vh - 2rem);
    margin: 1rem auto;
    display: flex;
    border: 1px solid black;
}
/* #region NavBar */

.wa_nav{
    width: 40%;
    
    border: 1px solid black;
}

.nav_head{
    background-color: #EAEAEA;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
}

.user>img{
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.icons>i{
    margin: 0 0.3rem
}
/* #endregion */

.notifications{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: rgba(142, 218, 252, 1);
}

.notifications_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 40px;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
}

.notifications_logo>i{
    color:rgba(142, 218, 252, 1)
}

.notifications_text{
    display: flex;
    flex-direction: column ;
}

.notifications_text>span:nth-child(2){
    font-size: 0.8rem;
    color: rgb(108, 108, 108);
    text-decoration:underline;
}



.wa_main{
    width: 60%;
}